
#editor {width:750px;max-height:300px;height: 200px;border: 1px solid #808080;box-shadow:5px 5px rgba(78,88,45,0.5);border-radius:5px}
#nav_div{bottom:100px;right:150px}

.ribbon{
    position: absolute;
    right:-11px;
    top: -10px;
}
.panel{
    position: relative;
    height: 350px;
    background: #006dcc;
}
.padding-small{
    padding:10px
}
.padding-middle{
    padding: 20px
}
.padding-large{
    padding: 45px;
}
.mirror{
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg);
    -moz-transition:  all ease-in 0.5s;
    -o-transition:  all ease-in 0.5s;
    -webkit-transition:  all ease-in 0.5s;
    transition:  all ease-in 0.5s;
    -webkit-box-reflect: below -7px -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.1)), color-stop(.2, transparent), to(rgba(3,3,3,0.3)));
}
.mirror:hover{
    -moz-transform: rotate(20deg) scale(1.2);
    -ms-transform: rotate(20deg) scale(1.2);
    -o-transform: rotate(20deg) scale(1.2);
    -webkit-transform: rotate(0deg) scale(1.5);
    transform: rotate(20deg) scale(1.2);
}
.container section{
    margin-top: 30px;
}
.block{
    margin-top: 70px;
    width:100%;
}
.aside{
    padding-left: 20px;
}
.articleinput{
    margin-top: 30px
}
#btn_submit{
    width:150px;
    height: 30px;
}
#txt_badge{
    width: 100px;
}
#btn_badge{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    margin-bottom: 10px
}
.mbadge{
    margin-left: 10px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#rangeDiv{
    margin-top: 40px;
}
.left_div{
    right: 80px;
}
.right_div{
    margin-top: 40px;
   margin-left: 80px;
}
.articleItem em{
    float:right;
    position: relative;
    right: 20px;
    top:25px;
    margin-right: 15px;
}
.articleItem hr{
    margin: 3px;
    color: #000000;
    border-bottom: 1px solid #090707;
    border-top: 0px;
}
.list_tags{
    font-size: 13px;
    float: left;
}
.list_Synopsis{
    margin-top: 25px;
    margin-left: 15px;
}
.list_title{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #000000;
    -moz-transition:  all ease-in 0.5s;
    -o-transition:  all ease-in 0.5s;
    -webkit-transition:  all ease-in 0.5s;
    transition:  all ease-in 0.5s;
}
.list_title:hover{
    color: #ffffff;
}

.right_div section{
    margin-top: 10px;
    background-color:#999999 ;
}
.list_check{
    float: right;
    position: relative;
    bottom:12px;
    margin-right: 20px;
    display: none;
    cursor: pointer;
}
.articletitle{
    cursor:pointer;
}
.aside{
    margin-top: 20px;
}
body{
    min-width: 1050px;
    background-image: url(../img/pattern.png);
}
.comment{
    padding: 15px;
   border: 3px solid #CFCFCF;
    border-radius: 10px;
}
#comment_panel{
}
.commentshow{
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.header{
    padding:4px;
    background-color: #CCCCCC;
}
.author a{
    font-size: 12px;
    float: right;
    margin-right: 10px;
}
.author i{
    float: right;
    margin-right: 20px;
    color: #808080;
    font-style: italic;
}
.author a.reply {
    display: none;
}
.comments-thumbs{
    float: right;
    margin-right: 10px;
}
.comments-thumbs i{
    margin-right: 10px;
    cursor: pointer;
}
.replytext{
    position: relative;
    width: 80%;
    height: 50px;
    left: 100px;
}
.btn_reply{
    position: relative;
    width: 100px;
    left: 85%;
}
.replypanel{
    display: none;
}
#rangeDiv{
    border-radius: 5px;
    background-color: white;
}
#rangeDiv li{
    margin-left: 6px;
}
.list_header_line{
    margin: 0px;
    color: #000000;
}
.comment-split{
    margin: 0px;
}
.comment_time{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: #808080;
}
.neirong{
    margin-left: 50px;
}
.article{
   margin-top: 50px;
}
.article img{
    box-shadow: 1px 1px 15px hsla(0,21%,60%,.6)
}
.unstyled em{
    font-size: 12px;
}
.user_login{
    float: right;
    margin-right: 150px;
    position: relative;
    top: 10px;
    cursor: pointer;
    text-shadow: 0 0 2px white;
    -moz-transition:  all ease-in 0.5s;
    -o-transition:  all ease-in 0.5s;
    -webkit-transition:  all ease-in 0.5s;
    transition:  all ease-in 0.5s;
}
.user_login:hover{
    color: #000000;
    text-shadow: 0 0 5px black;
}
.comment textarea{
    width: 97%;
}
.datail_line{
    border-bottom: 1px solid #000000;
    border-top: 0px;
    margin: 3px;
}
.detail_tag{
    font-size: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.detail_time{
    float: right;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
