body, html, div
{
    margin: 0xp;
    padding: 0px;
    font-size: 12px;
}
a
{
    text-decoration: none;
    color: inherit;
}
a:hover
{
    color: Blue;
}
<<<<<<< HEAD
#tableframk
{
    width: 1300px;
    margin: 10px auto;
}
#tableframk table
{
    border-collapse: collapse;
    border: 1px solid black;
}
#tableframk table td
{
    padding: 2px 3px;
    border: 1px solid gray;
    text-align: center;
}
#tableframk table td input
{
    width:70px;
}
#msglayer
{
    position: fixed;
    top: -110%;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image:url(../img/hah.png);
    background-repeat:repeat;
    -ms-transition:top 0.5s ease-in-out;
    -o-transition:top 0.5s ease-in-out;
    -moz-transition:top 0.5s ease-in-out;
    -webkit-transition:top 0.5s ease-in-out;
}
#msglayer .mainshow
{
    background-color: rgba(230,230,230,1);
    position: relative;
    top: 250px;
    left: 0px;
    width: 100%;
    height: 250px;
    padding: 20px;
}
#msglayer .mainshow p
{
    text-indent: 2em;
    position: relative;
    top: 10px;
    font-size: 35px;
    font-family: 微软雅黑;
}
#msglayer .mainshow span
{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-right: 30px;
    right: 100px;
    width: 150px;
    height: 40px;
    font-size: 25px;
    float: right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -0-transition: all 0.3s ease-in-out;
}
#msglayer .mainshow span:hover
{
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
}
ignore
{
    background-image: -ms-linear-gradient(left,transparent,rgba(255,255,255,0.9),transparent);
    background-image: -o-linear-gradient(left,transparent,rgba(255,255,255,0.9),transparent);
    background-image: -moz-linear-gradient(left,transparent,rgba(255,255,255,0.9),transparent);
    background-image: -webkit-linear-gradient(left,transparent,rgba(255,255,255,0.9),transparent);
}
=======

#editor {width:750px;max-height:300px;height: 200px;border: 1px solid #808080;box-shadow:5px 5px rgba(78,88,45,0.5);border-radius:5px}
#nav_div{bottom:100px;right:150px}
>>>>>>> 修改header操作cookie的方法
