{#literal}
<div class="container-fluid">
    <div class="panel">
        <img id="img" src="./img/ribbon-2013.png" class="ribbon" alt=""/>
        <div class="padding-large text-left" style="overflow: hidden">
<pre class="js code">
function AbountMe(){<br/>
    this.name = "Huang";  <br/>
    this.type = "PersonalBolg";<br/>
    this.mail = "zsHuangjunle@hotmail.com";<br/>
    this.city = "ZhongGuo.GuangDong.Zhongshan.FuSha";<br/>
    this.lang = "javascript";<br/>
 }
</pre>
            <pre class="net code">
                Namespace Blog{<br/>
                    protected Class AbountMe{<br/>
                        public string Name = "Huang";<br/>
                        public string Type = "PersonalBolg";<br/>
                        public string Mail = "zsHuangjunle@hotmail.com";<br/>
                        public string City = "ZhongGuo.GuangDong.Zhongshan.FuSha";<br/>
                        public string Lang = "C#"<br/>
                    }<br/>
                }<br/>
            </pre>
            <pre class="json code">
                var abountMe = {<br/>
                    "name" : "Huang",<br/>
                    "type" : "PersonalBolg",<br/>
                    "mail" : "zsHuangjunle@hotmail.com",<br/>
                    "city" : "ZhongGuo.GuangDong.Zhongshan.FuSha",<br/>
                    "Lang" : "json"<br/>
                }<br/>
            </pre>
            <pre class="code word">
                Live With Hope
            </pre>
        </div>

    </div>
</div>
{#/literal}