<div class="right_div">
{#if $T.result}
        <div>
            <h2 class="text-center">{$T.title_str}</h2>
            {#for j=1 to $T.tags.length}
                <i class="icon-tag detail_tag">{$T.tags[$T.j-1].name_str}</i>
            {#/for}
                <i class="icon-time detail_time">{ new Date($T.updateTime_date).format("yyyy年MM月dd日")}</i>
            <hr class="datail_line"/>
            <div class="article padding-small">
                {$T.content_str}
            </div>
        </div>
        <hr/>
            {#if $T.comments}
            <div id="comment_panel" class="padding-small">
                    <div class="header">{$T.comments.length}回复</div>
                    {#for i=1 to $T.comments.length}
                    {#if $T.i!=1}<hr class="comment-split"/>{#/if}
                    <div class="commentshow" {#if $T.comments[$T.i-1].commentId}commentId="{$T.comments[$T.i-1].commentId}"{#/if}>
                        <div class="author">
                            <span class="author_nickname">{$T.comments[$T.i-1].nickname_str}</span>
                            <span class="comment_time">{ new Date($T.comments[$T.i-1].addDate_date).format("MM月dd号 hh:mm:ss")}</span>
                            <i>#{$T.i}</i>
                            <a class="reply" href="javascript:;">回复</a>
                        </div>
                        <div class="neirong"> <p>{$T.comments[$T.i-1].comment_str}</p></div>
                        <div class="comments-thumbs">
                            <i title="赞成" articleId="{$T._id}" class="icon-thumbs-up up thumb">
                                {#if $T.comments[$T.i-1].yes}{$T.comments[$T.i-1].yes}{#else}0{#/if}
                            </i>
                            <i title="反对" articleId="{$T._id}" class="icon-thumbs-down down thumb">
                                {#if $T.comments[$T.i-1].no}{$T.comments[$T.i-1].no}{#else}0{#/if}
                            </i>
                        </div>
                    </div>
                    <div {#if $T.comments[$T.i-1].commentId}refCommentId="{$T.comments[$T.i-1].commentId}"{#/if} class="replypanel">
                        <textarea class="replytext" id="" cols="30" rows="10"></textarea> <br/>
                        <input type="button" class="btn btn-primary btn_reply" value="回复"/>
                    </div>
                    {#/for}
            </div>
            {#/if}
        <hr/>
        <div class="comment" aid="{$T._id}">
            <div class="comment-header"></div>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="detail_nickName"><i class="icon-user"></i> 昵称</label>
                    <div class="controls">
                        <input type="text" id="detail_nickName" placeholder="昵称">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="detail_email"><i class="icon-envelope"></i> Email</label>
                    <div class="controls">
                        <input type="text" id="detail_email" placeholder="Email">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <textarea id="detail_comment" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="button" id="detail_submit" class="btn btn-block btn-primary">评论</button>
                    </div>
                </div>
            </form>
        </div>
{#else}
    <div class="">服务器内部错误~</div>
{#/if}
</div>