<div class="block text-center">
    <div>
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="./img/wall/_1.jpg" alt=""/>
                    <!--<div class="carousel-caption description">
                        <h4>企鹅</h4>
                        <p>为什么北极没有企鹅呢</p>
                    </div>-->
                </div>
                <div class="item">
                    <img src="./img/wall/_2.jpg" alt=""/>
                    <!--<div class="carousel-caption description">
                        <h4>灯塔</h4>
                        <p>为什么北极没有企鹅呢</p>
                    </div>-->
                </div>
                <div class="item">
                    <img src="./img/wall/_3.jpg" alt=""/>
                    <!--<div class="carousel-caption description">
                        <h4>郁金香</h4>
                        <p>为什么北极没有企鹅呢</p>
                    </div>-->
                </div>
                <div class="item">
                    <img src="./img/wall/_4.jpg" alt=""/>
                    <!--<div class="carousel-caption description">
                        <h4>郁金香</h4>
                        <p>为什么北极没有企鹅呢</p>
                    </div>-->
                </div>
                <div class="item">
                    <img src="./img/wall/_5.jpg" alt=""/>
                    <!--<div class="carousel-caption description">
                        <h4>郁金香</h4>
                        <p>为什么北极没有企鹅呢</p>
                    </div>-->
                </div>
            </div>
        </div>
        <div>
            <img src="./img/wall/560.jpg" class="img-circle blog_thumb" alt=""/>
        </div>
        <div class="blog_home_seft">
            <p>
                这里是成千上万个网络网站之一</br>
                <strong title="没错!就是Cafter.Blog">Cafter.Blog</strong><br/>
                在这里<br/>
                我有时会分享我的身边琐碎事、趣事、烦恼事<br/>
                我有时会分享我接触到的、感兴趣的技术<br/>
                也有时会抱怨一下生活
            </p>
        </div>
    </div>
</div>