<div class="nav navbar-fixed-top">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav" id="index_nav">
                <li><a class="home"  href="javascript:;">主页</a></li>
                <li><a class="tech head" aType="1"  href="javascript:;">技术文章</a></li>
                <li><a class="life head" aType="2"  href="javascript:;">生活</a></li>
                <li><a class="interest head" aType="3" href="javascript:;">兴趣</a></li>
                <li><a class="about"  href="javascript:;">关于</a></li>
                <li id='admin' style="display: none"><a href='javascript:;' class=''>admin</a></li>
            </ul>
            <i class="icon-user icon-3x user_login" href="#loginPanel" data-toggle="modal"></i>
        </div>
    </div>
</div>
<hr class=""/>
<div id="mainDiv" class="block" template="true" load="true"  app="index" cmd="home">
</div>

<div id="loginPanel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close closed" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>管理员登录</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="loginUserName">Account</label>
                <div class="controls">
                    <input type="text" id="loginUserName" placeholder="Account">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="loginPassword">Password</label>
                <div class="controls">
                    <input type="password" id="loginPassword" placeholder="">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn closed" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button id="btn_login" class="btn btn-primary submit">登录</button>
    </div>
</div>