<div class="nav navbar-fixed-top">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a class="home"  href="javascript:;">主页</a></li>
                <li><a class="tech head" aType="1"  href="javascript:;">技术文章</a></li>
                <li><a class="life head" aType="2"  href="javascript:;">生活</a></li>
                <li><a class="interest head" aType="3" href="javascript:;">兴趣</a></li>
                <li><a class="about"  href="javascript:;">关于</a></li>
                <li><a href="javascript:;">Windows 8</a></li>
            </ul>
        </div>
    </div>
</div>
<hr class=""/>
<section class="block">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8" id="mainDiv" template="true" load="true" app="index" cmd="list"></div>
            <div class="span3 affix left_div">
                <div  id="rangeDiv" template="true" load="true" app="index" cmd="range">
                </div>
                <div id="tagsDiv" class="aside"></div>
            </div>
        </div>
    </div>
</section>