<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../css/StyleMain.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="../js/jquery-jtemplates.js" type="text/javascript"></script>
    <script type="text/javascript">
        var data = { data: { name: "Tom", age: 12, gender: 1} };
        var temp = "<span>{$T.data.name}</span><br/><span>{$T.data.age}</span><br/><span>{$T.data.gender}</span><br/>";
        function convertDateTime(obj) {
            var da = new Date();
            
        }
        var foreachdata = {
            data: [
                       { name: "mary", age: 15, gender: 0 },
                       { name: "kim", age: 12, gender: 1 },
                       { name: "greed", age: 16, gender: 2}]
        };
        var temp_foreachdata = "<ul>{#foreach $T.data as i}<li>姓名:{$T.i.name},年龄:{$T.i.age},性别:{$T.i.gender}</li>{#/for}</ul>";
        $(function() {
            $("#panel2").setTemplate(temp_foreachdata);
            $("#panel2").processTemplate(foreachdata);
        })
    </script>

</head>
<body>
    <div id="panel">
    </div>
    <div id="panel2">
    </div>
</body>
</html>
